In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('spam.csv',encoding='unicode_escape')

In [4]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5565     spam  This is the 2nd time we have tried 2 contact u...
5566      ham               Will ü b going to esplanade fr home?
5567      ham  Pity, * was in mood for that. So...any other s...
5568      ham  The guy did some bitching but I acted like i'd...
5569      ham                         Rofl. Its true to its name

[5570 rows x 2 columns]

In [5]:
df.shape

(5570, 2)

In [6]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         745    639  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [7]:
df['Category']=df['Category'].astype('category')
df['Category']=df['Category'].cat.codes

In [8]:
df.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [12]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test=train_test_split(df.Message,df.Category,test_size=0.2,random_state=0)

In [18]:
from sklearn.feature_extraction.text import CountVectorizer

In [19]:
v=CountVectorizer()

In [20]:
x_train_count=v.fit_transform(x_train.values)

In [21]:
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [22]:
from sklearn.naive_bayes import MultinomialNB

In [23]:
model=MultinomialNB()

In [43]:
model.fit(x_train_count,y_train)

MultinomialNB()

In [44]:
x_test_count=v.transform(x_test)

In [45]:
model.score(x_test_count,y_test)

0.9856373429084381

In [30]:
#example
emails=['hi,how are you?',
       'exclusive offer just for you 20% discount on clothes']

In [31]:
emails_count=v.transform(emails)

In [32]:
model.predict(emails_count)

array([0, 1], dtype=int8)

In [33]:
from sklearn.naive_bayes import GaussianNB

In [34]:
model1=GaussianNB()

In [36]:
model1.fit(x_train_count.toarray(),y_train)

GaussianNB()

In [37]:
x_test_count=v.transform(x_test)

In [39]:
model1.score(x_test_count.toarray(),y_test)

0.900359066427289